# Data files (Large binary files)
*.tif
*.tiff
*.mat
*.nrrd
*.tgz
*.zip
*.7z
*.tgz

# Results/Artifacts
*.swc
*.pptx
*.png
*.jpg

# Logs and temporary files
*.log
*.m~
*.asv

# Build and dependencies
**/build/
**/_deps/
w64devkit/

# Data Directories
Position201/
quadrants1/
fp_pipeline_output/
fp_pipeline_output_old/

# Python
__pycache__/
*.pyc

# OS files
.DS_Store
Thumbs.db
